In [1]:
# Imports

import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np

In [3]:
# Read the data 
df = pd.read_csv("/Users/sandeepreddy/Desktop/My_Final_Pro/cleaned_ds_data.csv")

In [4]:
# View the data
df

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education,year
0,2018-06-05 14:06:30,LinkedIn,Senior,Data Scientist,233000,"San Francisco, CA",4.0,0.0,Data Analysis,162000.0,...,0,0,0,0,0,0,0,Asian,Master's Degree,2018
1,2018-06-08 09:49:25,Microsoft,64,Data Scientist,218000,"Seattle, WA",11.0,11.0,ML / AI,165000.0,...,0,0,0,0,0,0,0,Asian,Master's Degree,2018
2,2018-06-08 17:55:09,ebay,26,Data Scientist,180000,"San Jose, CA",10.0,5.0,ML / AI,0.0,...,0,0,0,0,0,0,0,Asian,Master's Degree,2018
3,2018-06-10 19:39:35,Twitter,Staff,Data Scientist,500000,"San Francisco, CA",4.0,4.0,ML / AI,200000.0,...,0,0,0,0,0,0,0,Asian,Master's Degree,2018
4,2018-06-17 11:39:38,Facebook,5,Data Scientist,370000,"Seattle, WA",8.0,3.0,ML / AI,190000.0,...,0,0,0,0,0,0,0,Asian,Master's Degree,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2573,2019-03-26 17:25:02,IBM,8,Data Scientist,155000,"Washington, DC",5.0,2.0,ML / AI,141000.0,...,0,0,0,0,0,0,0,Asian,Master's Degree,2019
2574,2018-06-17 21:07:18,Facebook,E3,Data Scientist,150000,"Singapore, SG, Singapore",0.0,0.0,ML / AI,150000.0,...,0,0,0,0,0,0,0,Asian,Master's Degree,2018
2575,2018-07-16 20:11:40,ADP,Sr UX Researcher 4,Data Scientist,185000,"Roseland, NJ",8.0,2.0,UX Research,150000.0,...,0,0,0,0,0,0,0,Asian,Master's Degree,2018
2576,2018-06-12 20:54:06,Google,T6,Data Scientist,685000,"Kirkland, WA",22.0,2.0,ML / AI,221000.0,...,0,0,0,0,0,0,0,Asian,Master's Degree,2018
2577,2018-08-19 20:31:37,Illumina,Bioinformatics Scientist II,Data Scientist,175000,"San Diego, CA",6.0,2.0,Bioinformatics,135000.0,...,0,0,0,0,0,0,0,Asian,Master's Degree,2018

In [5]:
df.columns

Index(['timestamp', 'company', 'level', 'title', 'totalyearlycompensation',
       'location', 'yearsofexperience', 'yearsatcompany', 'tag', 'basesalary',
       'stockgrantvalue', 'bonus', 'gender', 'otherdetails', 'cityid', 'dmaid',
       'rowNumber', 'Masters_Degree', 'Bachelors_Degree', 'Doctorate_Degree',
       'Highschool', 'Some_College', 'Race_Asian', 'Race_White',
       'Race_Two_Or_More', 'Race_Black', 'Race_Hispanic', 'Race', 'Education',
       'year'],
      dtype='object')

In [6]:
# Choosing relevant columns for model
df_mb = df[['company','totalyearlycompensation','location','yearsofexperience','tag','year']]

In [7]:
# View the dataset 
df_mb

,company,totalyearlycompensation,location,yearsofexperience,tag,year
0,LinkedIn,233000,"San Francisco, CA",4.0,Data Analysis,2018
1,Microsoft,218000,"Seattle, WA",11.0,ML / AI,2018
2,ebay,180000,"San Jose, CA",10.0,ML / AI,2018
3,Twitter,500000,"San Francisco, CA",4.0,ML / AI,2018
4,Facebook,370000,"Seattle, WA",8.0,ML / AI,2018
...,...,...,...,...,...,...
2573,IBM,155000,"Washington, DC",5.0,ML / AI,2019
2574,Facebook,150000,"Singapore, SG, Singapore",0.0,ML / AI,2018
2575,ADP,185000,"Roseland, NJ",8.0,UX Research,2018
2576,Google,685000,"Kirkland, WA",22.0,ML / AI,2018
2577,Illumina,175000,"San Diego, CA",6.0,Bioinformatics,2018

In [8]:
set(df_mb.company)

{'3M',
 '3m',
 '7-Eleven',
 'ABB',
 'ADP',
 'AMAZON',
 'AMazon',
 'ASML',
 'AT&T',
 'AWS',
 'Abbott',
 'Accenture',
 'Acorns',
 'Addepar',
 'Adobe',
 'Aetna',
 'Affirm',
 'Agoda',
 'Airbnb',
 'Airbus',
 'Airtable',
 'Akamai Technologies',
 'Alibaba',
 'Allstate',
 'Amadeus',
 'Amazon',
 'Amazon Web Services',
 'Amazon.com',
 'American Express',
 'American Family Insurance',
 'American express',
 'Amobee',
 'Anonymous',
 'AppDynamics',
 'Apple',
 'Apple Inc.',
 'Applied Materials',
 'Aptiv',
 'Arrival',
 'Asana',
 'AstraZeneca',
 'Athenahealth',
 'Atlassian',
 'Autodesk',
 'Avanade',
 'BCG',
 'BCG Digital Ventures',
 'BNP Paribas',
 'Babylon Health',
 'Bank of America',
 'Bank of America Merrill Lynch',
 'Barclays',
 'Bayer',
 'Better.com',
 'Beyond Limits',
 'BigCommerce',
 'Bill.com',
 'Bird',
 'BlackBerry',
 'BlackRock',
 'Blackstone',
 'Blink Health',
 'Blizzard Entertainment',
 'Bloomberg',
 'Blue Yonder',
 'Bny Mellon',
 'Boeing',
 'Booking',
 'Booking.com',
 'Booz Allen Hamilton',
 'Bosch',
 'Boston Consulting Group',
 'Brex',
 'Broadcom',
 'BuzzFeed',
 'ByteDance',
 'C3.ai',
 'CIBC',
 'CVS Health',
 'Canva',
 'Capgemini',
 'Capital Group',
 'Capital One',
 'Careem',
 'Carrier',
 'Carvana',
 'Cerner',
 'Chan Zuckerberg Initiative',
 'Charles Schwab',
 'Charter Communications',
 'Chevron',
 'Chime',
 'Ciklum',
 'Cisco',
 'Citadel',
 'Citi',
 'Citibank',
 'Cloudera',
 'Clover Health',
 'Cockroach Labs',
 'Comcast',
 'Comscore',
 'Convoy',
 'Credit Karma',
 'Credit Suisse',
 'Criteo',
 'Cruise',
 'DAZN Group',
 'DataRobot',
 'Deliveroo',
 'Delivery Hero',
 'Dell Technologies',
 'Deloitte',
 'Deloitte Advisory',
 'Delta Air Lines',
 'Deutsche Bank',
 'Deutsche Telekom',
 'DigitalOcean',
 'Discover',
 'Discover Financial Services',
 'Discovery',
 'Disney',
 'DocuSign',
 'Dolby Laboratories',
 'DoorDash',
 'Dream11',
 'Dropbox',
 'EPAM Systems',
 'EY',
 'Ebay',
 'Edwards Lifesciences',
 'Elastic',
 'Electronic Arts',
 'Ellie Mae',
 'Elsevier',
 'Epam',
 'Epic Systems',
 'Epsilon',
 'Equifax',
 'Ericsson',
 'Ernst & Young',
 'Ernst and Young',
 'Etsy',
 'Everquote',
 'Excella',
 'Expedia',
 'Expedia Group',
 'Experian',
 'ExxonMobil',
 'FICO',
 'Facebook',
 'Fannie Mae',
 'FedEx',
 'Feedzai',
 'Fidelity Investments',
 'Fifth Third Bank',
 'Five Rings',
 'Flexport',
 'Flipkart',
 'Ford',
 'Ford Motor',
 'Fractal Analytics',
 'Freshworks',
 'GE',
 'GE Aviation',
 'GE Digital',
 'GEICO',
 'Garmin',
 'Genentech',
 'General Motors',
 'GitHub',
 'Glassdoor',
 'Global Payments',
 'GlobalLogic',
 'GoDaddy',
 'Gojek Tech',
 'Goldman Sachs',
 'Goldman sachs',
 'Google',
 'Grab',
 'Grammarly',
 'Grid Dynamics',
 'Groupon',
 'GrubHub',
 'Grubhub',
 'Guidewire',
 'H-E-B',
 'HBO',
 'HCL Technologies',
 'HERE Technologies',
 'HPE',
 'HSBC',
 'Here Technologies',
 'Honeywell',
 'Huawei',
 'Hulu',
 'Humana',
 'IBM',
 'ICF',
 'IHS Markit',
 'ING',
 'INTEL corporation',
 'IQVIA',
 'Ibm',
 'Ibotta',
 'Illumina',
 'InVision',
 'Indeed',
 'Instacart',
 'Integral Ad Science',
 'Intel',
 'Intuit',
 'Intuitive',
 'Iterable',
 'JP Morgan',
 'JP Morgan Chase',
 'JPMorgan Chase',
 'JUUL Labs',
 'Jio',
 'Johnson',
 'Johnson & Johnson',
 'Johnson and Johnson',
 'Jp morgan chase',
 'Juniper Networks',
 'KAYAK',
 'KPMG',
 'Kaiser Permanente',
 'Klarna',
 "Kohl's",
 'Kroger',
 'Lam Research',
 'Lenovo',
 'Liberty Mutual',
 'LinkedIn',
 'LivePerson',
 'Loblaw Digital',
 'Lockheed Martin',
 "Lowe's",
 'Lumentum',
 'Lyft',
 'MITRE',
 'MSFT',
 'MUFG',
 "Macy's",
 'Magic Leap',
 'Mail.ru Group',
 'Mapbox',
 'Marvell',
 'MassMutual',
 'Mastercard',
 'McAfee',
 'McKesson',
 'McKinsey',
 'McKinsey & Company',
 'Mckesson',
 'Medtronic',
 'Merck',
 'Metlife',
 'Micron',
 'Micron Technology',
 'Microsoft',
 'Mitchell International',
 "Moody's Analytics",
 'Morgan Stanley',
 'Moveworks',
 'Myntra',
 'NVIDIA',
 'Nerdwallet',
 'Netflix',
 'Nextdoor',
 'Nielsen',
 'Nike',
 'Nokia',
 'Nordstrom',
 'Northrop Grumman',
 'Northwestern Mutual',
 'Numerator',
 'Nvidia',
 'ON Semiconductor',
 'Oath',
 'Opendoor',
 'Optiver',
 'Optum',
 'Oracle',
 'Oscar',
 'Oscar Health',
 'Other',
 'PNC',
 'PagerDuty',
 'Palantir',
 'Palo Alto Networks',
 'Pandora',
 'PayPal',
 'Perspecta',
 'Petuum',
 'Philips',
 'Pinterest',
 'PlayStation',
 'Playstation',
 'Pluralsight',
 'Point72',
 'Poshmark',
 'Postmates',
 'Procter & Gamble',
 'Prudential Financial',
 'PwC',
 'Qualcomm',
 'Qualtrics',
 'Quantcast',
 'Quantiphi',
 'QuantumBlack',
 'Quantumblack',
 'Quest diagnostics',
 'Quicken Loans',
 'Quora',
 'RBC',
 'Rakuten',
 'Rapid7',
 'Raytheon Technologies',
 'Red Hat',
 'Reddit',
 'Rent the Runway',
 'ResMed',
 'Revolut',
 'Robinhood',
 'Roblox',
 'Roche',
 'S&P GLOBAL',
 'S&P Global',
 'SAP',
 'SAP Concur',
 'SAS',
 'SAS Software',
 'Salesforce',
 'Samsung',
 'Sandia National Labs',
 'Sberbank',
 'Schlumberger',
 'Scotiabank',
 'Seagate',
 'ServiceNow',
 'Shipt',
 'Shopee',
 'Shopify',
 'Shutterstock',
 'Siemens',
 'Siriusxm',
 'Slack',
 'Slalom',
 'Snap',
 'SoFi',
 'Societe Generale',
 'Sony',
 'Sophos',
 'Southwest Airlines',
 'Spotify',
 'Square',
 'SquareSpace',
 'Squarespace',
 'Starbucks',
 'Startup',
 'State Farm',
 'State Street',
 'Stitch Fix',
 'Stripe',
 'SurveyMonkey',
 'Swiss Re',
 'Symantec',
 'Synchrony',
 'Synechron',
 'T-Mobile',
 'TD Bank',
 'TD bank',
 'TSMC',
 'Target',
 'Tcs',
 'Telus',
 'Tesla',
 'The Climate Corporation',
 'The Hartford',
 'The Home Depot',
 'Thermo Fisher Scientific',
 'Thomson Reuters',
 'Thumbtack',
 'Ticketmaster',
 'Tiktok',
 'Tinder',
 'Toyota Research Institute',
 'TransUnion',
 'Travelers',
 'Trend Micro',
 'TripAdvisor',
 'Turo',
 'Twilio',
 'Twitch',
 'Twitter',
 'Two Sigma',
 'UBS',
 'UKG',
 'USAA',
 'Uber',
 'Ubisoft',
 'Udaan.com',
 'Ultimate Software',
 'Unilever',
 'VMware',
 'Vanguard',
 'Verily Life Sciences',
 'Verizon',
 'Verizon Media',
 'ViacomCBS',
 'Visa',
 'Vistaprint',
 'Walmart',
 'Walmart Labs',
 'WarnerMedia',
 'Wayfair',
 'Waymo',
 'WeWork',
 'Wells Fargo',
 'Western Digital',
 'Wipro',
 'Wipro Limited',
 'Wish',
 'Workday',
 'XPO Logistics',
 'Xandr',
 'Yahoo',
 'Yandex',
 'Yelp',
 'ZS',
 'ZS Associates',
 'Zalando',
 'Zappos',
 'Zillow',
 'Zoom',
 'Zulily',
 'Zynga',
 'airbnb',
 'alibaba',
 'amazon',
 'american airlines',
 'american family insurance',
 'c3.ai',
 'capgemini',
 'capital one',
 'capsule',
 'cvs health',
 'eBay',
 'ebay',
 'facebook',
 'google',
 'hitachi',
 'iCIMS',
 'ibm',
 'illumina',
 'intel',
 'linkedin',
 'microsoft',
 'paypal',
 'realtor.com',
 'roche',
 'shopee',
 'target',
 'ubs',
 'udaan.com',
 'wish'}

In [9]:
df_faang = df_mb.loc[df_mb['company'].isin(['AMAZON','AMazon','AWS','Amazon','Amazon Web Services','Amazon.com','amazon',
                                          'Apple','Apple Inc.',
                                          'Facebook','facebook',
                                          'Google','google',
                                          'Netflix',])]

In [27]:
df_faang_2 = df_faang.drop('tag',axis=1)

In [30]:
df_faang_2

       company  totalyearlycompensation  ... yearsofexperience  year
4     Facebook                   370000  ...               8.0  2018
5       Amazon                   200000  ...               3.0  2018
7       Google                   690000  ...              10.0  2018
8      Netflix                   600000  ...               3.0  2018
11    Facebook                   225000  ...              11.0  2018
...        ...                      ...  ...               ...   ...
2568    Amazon                   185000  ...               7.0  2018
2569    Amazon                   260000  ...              10.0  2019
2571    Amazon                   740000  ...              12.0  2019
2574  Facebook                   150000  ...               0.0  2018
2576    Google                   685000  ...              22.0  2018

[650 rows x 5 columns]

In [31]:
df_faang_2.to_csv("faang_ds_data.csv",index=False)

In [29]:
df_faang_dv

      totalyearlycompensation  ...  location_Zurich, ZH, Switzerland
4                      370000  ...                                 0
5                      200000  ...                                 0
7                      690000  ...                                 0
8                      600000  ...                                 0
11                     225000  ...                                 0
...                       ...  ...                               ...
2568                   185000  ...                                 0
2569                   260000  ...                                 0
2571                   740000  ...                                 0
2574                   150000  ...                                 0
2576                   685000  ...                                 0

[650 rows x 66 columns]